<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Jedi vs Sith</title>
  </head>
  <body data-ng-app="liveApp">
    <main>
      <h1>Jedi</h1>
      <section  data-ng-controller="JediController as jediCtrl" data-ng-init="jediCtrl.getAll()">
        <jedi-form
          data-button-text="Create Jedi"
          data-rest-action="create"
          data-jedi="jediCtrl.newJedi">
        </jedi-form>
      <ul class="jediList">
        <jedi-list-item data-ng-repeat="jedi in jediCtrl.jedi" data-jedi="jedi">
          <jedi-form
            data-ng-if="jedi.editing"
            data-button-text="Update Jedi"
            data-rest-action="update"
            data-jedi="jedi">
            <button data-ng-click="jedi.editing = false">Cancel</button>
          </jedi-form>
        </jedi-list-item>
      </ul>
    </section>
    <h1>Sith</h1>
    <section  data-ng-controller="SithController as sithCtrl" data-ng-init="sithCtrl.getAll()">
      <sith-form
        data-button-text="Create Sith"
        data-rest-action="create"
        data-sith="sithCtrl.newSith">
      </sith-form>
      <ul class="sithList">
        <sith-list-item data-ng-repeat="sith in sithCtrl.sith" data-sith="sith">
          <sith-form
            data-ng-if="sith.editing"
            data-button-text="Update Sith"
            data-rest-action="update"
            data-sith="sith">
            <button data-ng-click="sith.editing = false">Cancel</button>
          </sith-form>
        </sith-list-item>
      </ul>
    </section>
    </main>
    <script src="./bundle.js"></script>
  </body>
</html>
