<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Jedi vs Sith</title>
  </head>
  <body data-ng-app="liveApp">
    <main>
      <section  data-ng-controller="JediController as jediCtrl" data-ng-init="jediCtrl.getAll()">
      <form data-ng-submit="jediCtrl.createJedi()">
        <label for="name">Name</label>
        <input type="text" name="name" data-ng-model="jediCtrl.newJedi.name">

        <label for="ranking">Ranking</label>
        <input type="text" name="ranking" data-ng-model="jediCtrl.newJedi.ranking">

        <label for="weaponPreference">Weapon Preference</label>
        <input type="text" name="weaponPreference" data-ng-model="jediCtrl.newJedi.weaponPreference">

        <label for="lightsaberColor">Lightsaber Color</label>
        <input type="text" name="lightsaberColor" data-ng-model="jediCtrl.newJedi.lightsaberColor">

        <label for="catchphrase">Catchphrase</label>
        <input type="text" name="catchphrase" data-ng-model="jediCtrl.newJedi.catchphrase">

        <label for="handCount">Hand Count</label>
        <input type="text" name="handCount" data-ng-model="jediCtrl.newJedi.handCount">

        <button class="btn-create-jedi" type="submit">Create Jedi</button>
      </form>

      <ul id="jediList">
        <li data-ng-repeat="jedi in jediCtrl.jedis">

          <p>{{jedi.name}} is a {{jedi.ranking || 'jedi'}} who uses a
          {{jedi.weaponPreference}}. Their lightsaber is {{jedi.lightsaberColor}} and their catchphrase is
          {{jedi.catchphrase}} with {{jedi.handCount}} hands.</p>

          <form data-ng-if="jedi.editing" data-ng-submit="jediCtrl.updateJedi(jedi)">

            <label for="name">Name</label>
            <input type="text" name="name" data-ng-model="jedi.name">

            <label for="ranking">Ranking</label>
            <input type="text" name="ranking" data-ng-model="jedi.ranking">

            <label for="weaponPreference">Weapon Preference</label>
            <input type="text" name="weaponPreference" data-ng-model="jedi.weaponPreference" placeholder="salmons">

            <label for="lightsaberColor">Lightsaber Color</label>
            <input type="text" name="lightsaberColor" data-ng-model="jedi.lightsaberColor">

            <label for="catchphrase">Catchphrase</label>
            <input type="text" name="catchphrase" data-ng-model="jedi.catchphrase" placeholder="Lions, Tigers, Bears">

            <label for="handCount">Hand Count</label>
            <input type="text" name="handCount" data-ng-model="jedi.handCount" placeholder="2">

            <button class="btn-cancel-jedi" data-ng-click="jediCtrl.cancelJedi(jedi)">Cancel</button>
            <button class="btn-update-jedi" type="submit">Update Jedi</button>
          </form>

          <button class="btn-edit-jedi" data-ng-if="!jedi.editing" data-ng-click="jediCtrl.editJedi(jedi)">Edit</button>
          <button class="btn-remove-jedi" data-ng-click="jediCtrl.removeJedi(jedi)">Remove this Jedi</button>
        </li>
      </ul>
    </section>
    </main>

    <script src="./bundle.js"></script>
  </body>
</html>
