<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Jedi vs Sith</title>
    <link rel="stylesheet" href="./css/style.css" charset="utf-8">
  </head>
  <body data-ng-app="liveApp">
    <main>
      <h1>Jedi vs Sith</h1>
      <h2>Jedi Creator</h2>
      <section data-ng-controller="JediController as jediCtrl" data-ng-init="jediCtrl.getAll()">
        <jedi-form
          data-button-text="Create Jedi"
          data-savemethod="create"
          data-jedi="jediCtrl.newJedi">
        </jedi-form>
      <ul class="jediList">
        <jedi-list-item data-ng-repeat="jedi in jediCtrl.jedis" data-jedi="jedi">
          <jedi-form
            data-ng-if="jedi.editing"
            data-button-text="Update Jedi"
            data-savemethod="update"
            data-jedi="jedi">
            <button class="cancel-jedi" data-ng-click="jediCtrl.cancelJedi(jedi)">Cancel</button>
          </jedi-form>
        </jedi-list-item>
      </ul>
    </section>
    <h2>Sith Creator</h2>
    <section data-ng-controller="SithController as sithCtrl" data-ng-init="sithCtrl.getAll()">
      <sith-form
        data-button-text="Create Sith"
        data-savemethod="create"
        data-sith="sithCtrl.newSith">
      </sith-form>
      <ul class="sithList">
        <sith-list-item data-ng-repeat="sith in sithCtrl.siths" data-sith="sith">
          <sith-form
            data-ng-if="sith.editing"
            data-button-text="Update Sith"
            data-savemethod="update"
            data-sith="sith">
            <button class="cancel-sith" data-ng-click="sithCtrl.cancelSith(sith)">Cancel</button>
          </sith-form>
        </sith-list-item>
      </ul>
    </section>
    </main>
    <script src="./bundle.js"></script>
  </body>
</html>
