{
  "env": {
    "protractor": true,
    "jasmine": true,
    "es6": true,
    "browser": true
  },
  "globals": {
    "angular": false,
    "element": 'true',
    "by": true,
    "expect": true
  }
}
