<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Wine and Cheese Adventure</title>
  <link rel="stylesheet" href="/styles/main.css">
</head>

<body data-ng-app="practiceApp">
  <main>
  <h1>Wine and Cheese Party Time</>
    <article>
  <section data-ng-controller="WineController as winecontrol" data-ng-init="winecontrol.getAll()">
  <h2>What Wines are in the Cellar?</h2>
    <wine-form
    data-button-text="Inspect"
    data-change="inspect"
    data-wine="winecontrol.newWine">
    </wine-form>
    <ul id="winelist">
      <wine-list-item data-ng-repeat="wine in winecontrol.wine" data-wine="wine">
        <wine-form
        data-ng-if="wine.editing"
        data-button-text="Do Something with Wine"
        data-button-text="Choose Wine"
        data-change="choose"
        data-wine="wine">
          <button data-ng-click="wine.editing = false; winectrl.restoreBackup(wine)">Cancel</button>
        </wine-form>
      </wine-list-item>
    </ul>
  </section>
</article>
<article id="practiceApp">
  <section data-ng-controller="cheese in cheesecontrol.cheese" data-cheese="cheese">
    data-ng-init="cheesecontrol.getAll()">
    <h2>How to choose a good cheese</h2>
    <cheese-form
    data-button-text="Choose Cheese"
    data-action="thisone"
    data-cheese="cheesecontrol.newCheese">
  </cheese-form>
<h2>Cellar</h2>
  <ul id="cheeselist">
    <cheese-list-item data-ng-repeat="cheese in cheesecontrol.cheese" data-cheese="cheese">
      <cheese-form
      data-ng-if="cheese.editing"
      data-button-text="Enjoy the Cheese"
      data-change="EAT"
      data-cheese="cheese">
        <button data-ng-click="cheese.editing = false; cheesecontrol.restoreBackup(cheese)">Devour</button>
      </cheese-form>
    </cheese-list-item>
  </ul>
</section>
</article>
</main>
<script src="bundle.js"></script>
</body>
</html>
