<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Wine and Cheese Adventure</title>
  <link rel="stylesheet" href="/styles/main.css">
</head>

<body data-ng-app="practiceApp">
  <main>
  <h1>Wine and Cheese Party Time<h1/>

  <section data-ng-controller="WineController as winecontrol" data-ng-init="winecontrol.getAll()">
    <ul id="error1">
      <li data-ng-repeat="error in winecontrol as winecontrol" data-ng-init="winecontrol.getAll()">"
        <li data-ng-repeat="error in winecontrol.errors">{{error.message}}<button
          data-ng-click="winecontrol.errors.splice(winecontrol.errors.indexOf(error), 1)">Done</button></li>
  <h2>What Wines are in the Cellar?</h2>
    <wine-form
    data-button-text="inspect"
    data-change="create"
    data-wine="winecontrol.newWine">
    </wine-form>

    <ul id="winelist">
      <li data-ng-repeat="wine in winecontrol.wine">
        {{wine.name}} from {{wine.year}} grown in {{wine.country}}
        <button data-ng-if="!wine.editing" data-ng-click="wine.editing = true">Edit Wine</button>

        <button data-ng-click="drink(wine)">Drink some wine!</button>
        <wine-form
        data-ng-if="wine.editing"
        data-button-text="update"
        data-change="update"
        data-wine="wine">
          <button data-ng-click="wine.editing = false">Cancel</button>
        </wine-form>
      </li>
    </ul>
  </section>

  <section data-ng-controller="CheeseController as cheesecontrol"
    <data-ng-init="cheesecontrol.getAll()">
    <ul id="error1">
      <li data-ng-repeat="error in cheesecontrol as cheesecontrol" data-ng-init="cheesecontrol.getAll()">"
        <li data-ng-repeat="error in cheesecontrol.errors">{{error.message}}<button
          data-ng-click="cheesecontrol.errors.splice(cheesecontrol.errors.indexOf(error), 1)">Done</button></li>
    </ul>

  </br>
    <h2>How to choose a good cheese</h2>
    <cheese-form
    data-button-text="Choose Cheese"
    data-change="create"
    data-cheese="cheesecontrol.newCheese">
  </cheese-form>

  <ul id="cheeselist">
    <li data-ng-repeat="cheese in cheesecontrol.cheeses">
      {{cheese.name}} produced in {{cheese.country}} made from {{cheese.origin}}
      <button data-ng-if="!cheese.editing" data-ng-click="cheese.editing = true">More Cheese</button>

      <button data-ng-click="eat(cheese)">Enjoy some Cheese</button>
      <cheese-form
      data-ng-if="cheese.editing"
      data-button-text="Enjoy the Cheese"
      data-change="update"
      data-cheese="cheese">
        <button data-ng-click="cheese.editing = false">Devour</button>
      </cheese-form>
    </li>

    <cheese-list-item data-ng-repeat="cheese in cheesecontrol.cheeses" data-cheese="cheese">
      <cheese-form
      data-ng-if="cheese.editing"
      data-button-text="Enjoy the Cheese"
      data-change="update"
      data-cheese="cheese">
        <button data-ng-click="cheese.editing = false">Devour</button>
      </cheese-form>
    </cheese-list-item>
  </ul>

  <article>
    <h2>Plan the Party</h2>
    <h3> Cheese Count: {{cheesecontrol.totalPairing}}</h3>
    <button data-ng-click="cheesecontrol.addPairing()">Add Cheese Pairing</button>
    <span data-ng-if="cheesecontrol.totalPairing < 2 || cheesecontrol.totalPairing > 2"
      data-ng-controller="WineController as winecontrol">
      <h3>How many pairings?: {{winecontrol.totalPairing}}</h3>
      <h3 id="favoritePairing">How many pairings?: {{winecontrol.totalPairing}}</h3>
      <button data-ng-click="winecontrol.serviceAddPairing()">Add pairing</button>
    </span>
  </article>
</section>
<script src="bundle.js"></script>
</body>
</html>
