<li>
  <ng-transclude></ng-transclude>
  <div class="buttonDiv">
    <button class="edit" data-ng-click="murder(movie)">remove this movie...</button>
    <button class="edit" data-ng-if="!movie.editing" data-ng-click="edit(movie)">edit</button>
  </div>
  <span data-ng-if="!movie.editing">
    Name: {{movie.name}}</br>
    Genre: {{movie.genre}}</br>
    Year: {{movie.year}}</br>
    Rating: {{movie.rating}}</br>
    Runtime: {{movie.runTime}}</br>
    Emotion: {{movie.emotion}}</br></br>
  </span>
</li>
