@mixin border-box {
  box-sizing: border-box;
  border: 1px solid white;
}

main {
  @include border-box;
  height: auto;
  padding: 2%;
  #form {
    background-color: #8CB7FF;
    padding: 1em;
  }
  ul {
    li {
      margin: 1%;
      list-style: disc;
    }
  }
}
