$buttonBorder: solid 2px orange;
$inputBorder: 2px solid black;
$border: 2px dashed white;
$font: monospace;

$bgcolor: orange;

@warn "The Following Variables are being used, $buttonBorder: #{$buttonBorder},$inputBorder: #{$inputBorder},$border: #{$border},$font: #{$font},$bgcolor:#{$bgcolor}";
