:-moz-placeholder {
  color: $stem;
}

::-webkit-input-placeholder {
  color: $stem;
}

*:focus {
  outline: none;
}

form {
  @include border ($stem, $light-gray);
  background-color: $light-gray;
  background-color: $light-gray;
  padding: 1em;
  margin: 1em;
  color: $stem;
  text-decoration: none;
  font-family: Tahoma, sans-serif;
  input {
    background-color: $light-gray;
  }
  input: focus {
    @include border($stem, $yellow-green);
  }

  label {
    font-family: Georgia, Times, "Times New Roman", serif;
    color: $stem;
    text-shadow: 1px 1px gray;
  }
  button {
    background-color: $yellow-green;
  }
}
